@charset "utf-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/09/21, 16:04:45
    Author     : T.Abe Work
*/

$bg-h1:#4d4d4d;
$text-h2:#7F7F7F;
$bg-form-header:#B2B2B2;
$bg-form:#E5E5E5;
$border-form:#7F7F7F;

$bg-header : #C1272C;
$shadow-header: #A6272B;
$height-header:3rem;
$height-footer:3rem;


html,body{
	height: 100%;
}

.email-img{
	width:360px;
}

#wrap{
	width: 100%;
	position: relative;
	min-height: 100%;

	padding-top:$height-header;
	padding-bottom: $height-footer;

	.container{
		//		height:100%;
	}


	#header{
		background-color:$bg-header;
		color:white;
		height: $height-header;
		width:100%;
		position:absolute;
		top:0;
		border-bottom:0.5rem solid $shadow-header;
	}

	#footer{
		background-color:$bg-header;
		color:white;

		height: $height-footer;
		width:100%;
		position: absolute;
		bottom: 0;
		border-bottom:0.5rem solid $shadow-header;
	}	
}

body{
}

.left-nav{
	min-height:100%;
	background-color:#F1F1F1  !important;
	padding-top:1rem;

	border-left:1px solid lightgray;
	&:after{
		content:' ';
		display:block;
		position:absolute;
		top:0;
		right:0;
		width:10px;
		height:100%;
		z-index:10;
		border-left:1px solid lightgray;
		border-right:1px solid lightgray;
		background-color:white;
	}
}
.right-main{
	min-height:100%;
	background-color:#F1F1F1  !important;
	padding-top:1rem;
	padding-bottom:2rem;
	position:relative;

	border-right:1px solid lightgray;

}


////////////////////////////////////////////////////////////////////////////////
//	progress-navigation
////////////////////////////////////////////////////////////////////////////////

.nav-progress{
	.item{
		line-height:3rem;
		font-size:1.6rem;
		position:relative;
		padding-left:3.5rem;

		i.fa{
			position:absolute;
			top:0;
			left:0;
			width:3rem;
			height:3rem;
			line-height:3rem;
			font-size:2.4rem;
		}

		&.active{
			background-color:$bg-header;
			color:white;
			i.fa{
				color:$bg-header;
				background-color:white;
			}
		}

	}

	.arrow{
		text-align:center;
	}
}

.nav-progress-mobile{
	margin-bottom:2rem;
	border-bottom:1px solid $bg-form-header;
	padding-bottom:3rem;

	.head{
		background-color:$bg-header;
		color:white;
		font-size:1.8rem;
		padding:1rem;
		.title{
			display:inline-block;
			font-weight:bold;
		}
	}

	.icons{
		width:100%;
		margin-top:1.5rem;

		td.icon{
			color:$text-h2;
			text-align:center;
			position:relative;
			&.active{
				background-color:$bg-header;
				color:white;

				&:after{
					position:absolute;
					width:100%;
					content: '\f0d7';
					font-family:'FontAwesome';
					color:$bg-header;
					top:-3.3rem;
					left:0;
					font-size:3rem;

				}
			}
			i{
				display:inline-block;
				$o:5rem;
				width:$o;
				height:$o;

				font-size:4rem;
				line-height:$o;
			}
		}

		td.arrow{
			font-size:1.6rem;
			color:$bg-header;
			text-align:center;
			padding:.5rem;
		}

	}
}

////////////////////////////////////////////////////////////////////////////////
//	h1 , h2 ...
////////////////////////////////////////////////////////////////////////////////

h1.title{
	display:inline-block;
	position:relative;
	background-color:$bg-h1;
	color:white;

	$h:4rem;


	margin-left:$h;
	min-height:$h;
	border-radius:$h/2;
	padding-left:$h + 2rem;
	padding-right:$h - 1rem;
	line-height:$h;
	font-size: $h * 0.8;

	i.fa{

		$r: $h * 0.8;
		$f: $h * 0.6;
		position:absolute;
		top:($h - $r)/2;
		left:($h - $r)/2;
		background-color:white;
		color:$bg-h1;
		font-size:$f;
		line-height:$r;
		width:$r;
		height:$r;
		border-radius:$r / 2;
	}
}

h2.h2-type1{
	display:inline-block;
	color:$text-h2;
	border-bottom:2px solid $bg-header;
	margin-left:2rem;
	padding:0 0.25rem 0.5rem;
	&:after{
		display:block;
		content:"";
	}
}

h3.h3-type1{
	font-size:1.8rem;
	font-weight:bold;
	margin-left:2.5rem;
	margin-bottom:3rem;
	margin-top:0;
}

h3.h3-type2{
	font-size:1.8rem;
	font-weight:bold;
	padding-left:0.5rem;
	margin-bottom:1.5rem;
	margin-top:0;

	border-bottom:1px solid $bg-header;
	border-left:2rem solid $bg-header;
}

.my-btn{
	border:2px solid $bg-header;
	background-color:white;
	color:$bg-header;
	&:hover{
		background-color:#f8f8f8;
		text-decoration:none;
		color:$bg-header;
	}

	&.my-btn-primary{
		color:white;
		background-color:$bg-header;
		&:hover{
			background-color: lighten( $bg-header , 10 );
		}
		&[disabled]{
			background-color:gray;
			border-color:darkgray;
			color:darkgray;
		}
	}

	$h : 3rem;

	font-size: $h * .75;
	line-height: $h;
	border-radius:($h / 2 + 0.5rem);
	padding:0.5rem 2rem;

}

button.my-btn{
	padding:0.3rem 1.8rem 0.2rem;
}

div.access{
	padding:2rem;
	
	background-color:white;
	
	border-top:1px solid $bg-header;
	border-bottom:1px solid $bg-header;
	
	margin-bottom:2rem;
	margin-top:2rem;
}

////////////////////////////////////////////////////////////////////////////////
//	table form
////////////////////////////////////////////////////////////////////////////////

table.my-form{
	width:100%;
	border:1px solid $border-form;
	background-color:$bg-form;
	th{
		border:1px solid $border-form;
		width:100px;
		text-align:center;
		background-color:$bg-form-header;
		color:white;
		&.requied:before{
			content: '[必須]' ;
			color:$bg-header;
			display:block;

		}
	}
	td{
		border:1px solid $border-form;
		padding:1rem 1rem 0 1rem;

		select[name^=date]{
			width:8rem;
			display:inline-block;
		}

		&.my-form-name{
			.form-group{
				display:inline-block;
				input{
					display:inline-block;
					width:200px;
				}
			}
		}
		&.my-form-address{

			.post-icon{
				$h : 32px;
				background-color:$bg-h1;
				color:white;
				height:$h;
				width:$h;
				line-height:$h;
				text-align:center;
				font-size:20px;
				font-weight:bold;
				display:inline-block;
				vertical-align:-3px;
				border-radius:2px;
			}

			.form-group{				
				display:inline-block;
				input[name="post-code"]{
					display:inline-block;
					width:200px;
				}
				input[name="address1"]{
					display:inline-block;
					width:240px;
				}
				input[name="address2"]{
					display:inline-block;
					width:480px;
				}
			}
		}

		&.my-form-check{
			div.checkbox{
				display:inline-block;
				margin-right:1rem;
			}
		}

		&.my-form-radio{
			input[type="radio"]{
				display:none;
			}

			$ro : 18px;
			$ri : 6px;

			div.my-radio{
				display:inline-block;
				position:relative;
				margin-left:10px;
				margin-right: 6px;
				height:$ro;
				width:$ro;
				vertical-align:-3px;;
			}

			input[type="radio"] + div.my-radio:before {
				content:"";
				position:absolute;
				top:0;
				left:0;
				width:$ro;
				height:$ro;
				background-color:white;
				border:1px solid $bg-header;
				border-radius: $ro/2;
			}

			input[type="radio"]:checked + div.my-radio:after {
				content:"";
				position:absolute;
				top:( $ro - $ri )/2;
				left: ( $ro - $ri )/2;
				width:$ri;
				height:$ri;
				background-color:$bg-header;
				border-radius: $ri/2;
			}

		}

		.form-group + div.comment{
			position:relative;
			top:-10px;
			left:10px;
		}

		.form-group.date{
			display:inline-block;
			&>div{
				display:inline-block;
			};
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
//	step explain
////////////////////////////////////////////////////////////////////////////////

ol.step-explain{
	margin-top:1rem;
	font-size:2rem;

	.title{
		&:after{
			content:'';
			display:block;
			width:100%;
			border-bottom:1px solid $bg-form-header;
			padding-left:2.5rem;
			position:relative;
			left:-2.5rem
		}
	}
	.explain{
		margin-top:1rem;
		margin-bottom:2rem;
		margin-left:1rem;
		font-size:1.6rem;
	}
}

////////////////////////////////////////////////////////////////////////////////
//	list
////////////////////////////////////////////////////////////////////////////////
.my-list1{
	list-style:none;
	>li{
		font-size:1.5rem;
		margin-bottom:2rem;
		line-height:150%;
		position:relative;
		&:before{
			font-family:'FontAwesome';
			content:'\f111';
			position:absolute;
			top:0;
			left:-2rem;
			color:$bg-header;
			font-size:1.2rem;
		}
	}
	&.my-list1-narrow li{
		margin-bottom:.5rem;
	}
}

ol.my-list2{
	list-style:decimal;
	padding-left:2rem;
	margin-bottom:3rem;


	>li{
		position:relative;
		font-size:1.6rem;
		&:before{
			position:absolute;
			left:-2rem;
			display:block;
			width:100%;
			border-bottom:1px dashed $bg-header;
			content:'';
		}
		>ul{
			margin-top:.75rem;
			margin-bottom:1rem;
			padding-left:3rem;
			list-style:none;
			>li{
				font-size:1.4rem;
				position:relative;
				&:before{
					font-family:'FontAwesome';
					content:'\f111';
					position:absolute;
					top:0.2rem;
					left:-1.5rem;
					color:$bg-header;
					font-size:0.6rem;
				}

			}
		}
	}
}


.my-hr{
	background-color:$bg-form-header;
	height:1px;
	margin:4rem 2rem;
}

div.message{
	margin-top:3rem;
	margin-bottom:3rem;
}

////////////////////////////////////////////////////////////////////////////////
//	parts
////////////////////////////////////////////////////////////////////////////////

.parts-image{
	text-align:center;
	img{
		max-width:100%;
		width:100%;
	}
}

select.cost option{
}

table.table-parts{
	tbody>tr>td,
	tbody>tr>th{
		vertical-align:middle;
	}
	th.check{
		padding:0;
	}
}